.im1 {
  height: 445px;
  width: 500px;
}
p {
  text-align: justify;
}
.im2 {
  height: 265px;
}
.im3 {
  height: 240px;
}
.im4 {
  height: 200px;
}
.im5 {
  height: 195px;
}
.im6 {
  height: 217px;
}
.im7 {
  height: 220px;
}
.im8 {
  height: 230px;
}
.im9 {
  height: 250px;
}
